# Build & Package Files
*.war
*.ear
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Stuff
.classpath
.project
/.settings/
/bin/

# Report Stuff
/allure-report/

# Maven Stuff
/target/

#TestNG Stuff
/test-output/
*.iml
